In [1]:
!pip install seaborn --upgrade --quiet
!pip install pandas --upgrade --quiet
!pip install missingno --quiet
!pip install pywaffle --quiet

In [2]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

from datetime import datetime
import time
import math
import os

import missingno as msno
from pywaffle import Waffle

import networkx as nx

Paraméterek és alap beállítások

In [3]:
plt.rcParams['figure.figsize'] = (12.0, 6.0)
plt.rcParams['figure.dpi'] = 200 #high resolution

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 1000)

In [ ]:
sns.set(
        style="ticks",                 
        rc={"figure.figsize": (6, 9),    
            "figure.facecolor": "#FEFDED",  
            "axes.facecolor": "ivory"})
pd.option_context('mode.use_inf_as_na', True)

A kezdeti gondolatok és kérdések gyűjteménye:
http://simp.ly/p/ZyzbJn

In [6]:
df = pd.read_csv('./Sources/FileResults/Competitions.csv', sep=',')
df.head()

,city,race_name,date,when,Division,who,total_time,W/L/T,Hurdles,name,start,time,error,anomaly,w_pair,ordinal_no,dogs,szin
0,Heroltice,Hanácké škvarek,2023-04-22,10:11:57,1,Wildrunners Dreamers,17.01,L,25.0,Sunny,-0.24,4.21,True,False,False,1,"['Sunny', 'Dixie', 'Alex', 'Hector']",FF0000FF
1,Heroltice,Hanácké škvarek,2023-04-22,10:11:57,1,Wildrunners Dreamers,17.01,L,25.0,Dixie,0.30,4.24,False,False,False,2,"['Sunny', 'Dixie', 'Alex', 'Hector']",FF0000FF
2,Heroltice,Hanácké škvarek,2023-04-22,10:11:57,1,Wildrunners Dreamers,17.01,L,25.0,Alex,0.16,4.22,False,False,False,3,"['Sunny', 'Dixie', 'Alex', 'Hector']",FF0000FF
3,Heroltice,Hanácké škvarek,2023-04-22,10:11:57,1,Wildrunners Dreamers,17.01,L,25.0,Hector,0.00,4.13,False,False,False,4,"['Sunny', 'Dixie', 'Alex', 'Hector']",FF0000FF
4,Heroltice,Hanácké škvarek,2023-04-22,10:11:57,1,Wildrunners Maximini,19.43,L,25.0,Brooke,-0.11,4.08,True,False,False,1,"['Brooke', 'Rocky', 'Bella', 'Bree']",FFFF0000